/* 共通のCSS */
/* <link href="https://fonts.googleapis.com/css?family=Roboto:400,700"
rel="stylesheet"> */
/* Mac でも Windows でも使えるFont */

@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: bold;
}

body {
  font-family: "RobotoLocal";
}

img {
  width: 100%;
  height: auto;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
}

.logo {
  width: 35px;
}

.hamburger {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: blueviolet;
}

.hamburger__line {
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: calc((60px - 2px) / 2);
  left: calc((60px - 30px) / 2);
}

.hamburger__line::before,
.hamburger__line::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.hamburger__line::before {
  top: -10px;
}

.hamburger__line::after {
  top: 10px;
}
